*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: #1c1c1c;
}

header
{
    margin-left: 20vw;
    margin-right: 20vw;
    background-color: #1c1c1c;
    border-bottom: 1px solid #fffafa;
    
}
header li
{
    display: inline-block;
    padding-top: 5vh;   
}
header li a
{
    border-bottom: 3px solid #00fa9a;
    color: #fffafa;
    font-size: 1.5rem;
}
header
{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; 
}
header p
{
    padding-right: 50px;
    height: 10vh;
    
    
}
header a
{
    text-decoration: none;
    
}
section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
    
}
.a1
{
    height: 90vh;
}
.cont
{
    margin: 0 auto;
    width: 400px;
}
.a
{
    background-color: #ff4500;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0px 10px;
    border-radius: 5px;
    margin-top: 60%;
    font-size: 1.5rem;
}
.cont li
{
    display: inline-block;
}
.b li
{
    display: inline-block;
}
.b1
{
    background-color: #ff4500;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0px 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.b
{
    width: 400px;
    margin: 0 auto;
}
.b8
{
    color: #fffafa;
    padding-left: 15px;
    font-size: 1.5rem;
}
.cont h1
{
    font-size: 3rem;
    color: aliceblue;
    float: right;
}
.cont h2
{
    font-size: 2rem;
    color: #ff4500;
    float: right;
    
}
.cont p
{
    color: aliceblue;
    padding-top: 120px;
    padding-bottom: 30px;
    text-align: justify;
    text-indent: 2rem;
}
.b2
{
    color: aliceblue;
    padding-left: 20px;
}