*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.839);
}
header{
    margin-left: 20vw;
    margin-right: 20vw;
    
}
header li{
    display: inline-block;
    padding-top: 5vh;
    
      
}
header a{
    border-bottom: 3px solid black;
}

header{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    
}
header p{
    padding-right: 50px;
    height: 10vh;
    
}
header a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
    
}
.a1{
    height: 90vh;
    border-right: 1px solid black;
    
}
.cont{
    
    margin: 0 auto;
    width: 400px;


}
.a{
    background-color: tomato;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0px 10px;
    border-radius: 5px;
    margin-top: 70%;
}
.cont li{
    display: inline-block;
}


.a2{
    
    height: 90vh;
}
.b li{
    display: inline-block;
}
.b1{
    background-color: tomato;
    color: white;
    text-shadow: 1px 1px 1px black;
    padding: 0px 10px;
}
.b{
    width: 400px;
    margin: 0 auto;
}
.b8{

}