.contato{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px 0px;
}
.conteiner_contatos{
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imagem_contato{
    width: 600px;
}
.conteiner_formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 500px;
    
}
.formulario{
    
    background-color: rgba(0, 0, 0, 0.204);
    border-radius: 100% 0px 100% 0px;
    
}
.fields{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-weight: bold;
}
.fieldHalf{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-left: 20px;
}
.fieldHalf input{
    background-color: rgba(0, 0, 0, 0.719);
    width: 200px;
    height: 40px;
    padding-left: 10px;
}
.field textarea{
    width: 180px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.719);
    padding-left: 10px;
    padding-top: 10px;
}
.field{
    
}
.actions{
    margin-top: 20px;
    display: flex;
    list-style: none;
    justify-content: end;
    gap: 30px;
    

}
.actions input{
    background-color: black;
    color: white;
    padding: 5px 10px;
}

.fieldHalf input::placeholder{
    color: white;
    
}
.actions input:hover{
    color: rgb(242, 189, 83);
    
}

.field textarea::placeholder{
    color: white;
}
.actions input::placeholder{
    color: white;
}



@media (max-width: 1280px){}
@media (max-width: 900px){
    .conteiner_contatos{
        flex-direction: column-reverse;
    }
}
@media (max-width: 450px){

    .imagem_contato{
        width: 90%;
    }
    .conteiner_contatos{
        width: 100%;
        
    }
    .formulario{
        width: 90%;
    }
    .fieldHalf input{
        background-color: rgba(0, 0, 0, 0.719);
        width: 150px;
        height: 40px;
        padding-left: 0px;
    }
    .field textarea{
        width: 150px;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.719);
        padding-left: 0px;
        padding-top: 0px;
    }
    .conteiner_formulario{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 350px;
        
    }
    .conteiner_contatos h1{
        text-align: center;
    }
}
@media (max-width: 360px){
    .conteiner_formulario{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 300px;
        
    }
}