:root
{
    /*BACKGROUND*/

    /*FONTES*/
    --color-white: #fffafa;
    --color-orange: #ff4500;
    --color-black: #1c1c1c;
    --color-whiteo:#eed1d1;
    --color-grenn: #00fa9a;
  
    --top-color: rgba(14, 29, 51, 0.8);
    --bottom-color: #1c1c1c;
    --my-gradient: linear-gradient(
      var(--top-color),
      var(--bottom-color)
    );
}
.dark:root{
  --color-white: #1c1c1c;
  --color-black: #fffafa;
}

