.diferenciais{
    border: 1px solid ;
    padding: 50px 0px;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner_diferenciais{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
}
.diferencial{
    border: 1px solid;
    width: 450px;
    height: 200px;
    background-color: #4D5153;
    border-radius: 40px;
    color: white;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s linear;
}
.diferencial h1{
    text-align: center;
    padding-bottom: 10px;
    color: #000000;
}
.diferencial span{
    color: aqua;
    display: flex;
    gap: 17px;
}
.diferencial input{
    width: 0px;
    height: 0px;
    
}
.diferencial .fa-circle{
    color: white;
    font-size: 0.5rem;
    text-shadow: #D9C37E;
}

@media (max-width: 1280px){}
@media (max-width: 900px){
    .diferenciais{
        height: auto;
    }
}
@media (max-width: 450px){
    .diferencial{
        width: 350px;
        height: 200px;
    }
}
@media (max-width: 360px){}


/**************************** V TABLETS V *************************************/
@media (max-width: 1280px){}
@media (max-width: 900px){}
/**************************** ^ TABLETS ^ *************************************/



/**************************** V CELULAR V *************************************/
@media (max-width: 450px){}
@media (max-width: 360px){}
/**************************** ^ CELULAR ^ *************************************/
