/*-----------------⬇⬇--ANIMACOES--⬇⬇---------------*/
@keyframes animacao{
  0%{
      opacity: 1;
  }

  50%{
      opacity: 0;
  }
  
  100%{
      opacity: 1;
  }

}

/*-----------------⬆⬆--ANIMACOES--⬆⬆---------------*/

/*-----------------⬇⬇--VARIAVEIS CSS--⬇⬇---------------*/
:root{
  --color-white: #fffafa;
  --color-orange: #ff4500;
  --color-black: #1c1c1c;
  
  --color-grenn: #00fa9a;

  --top-color: rgba(14, 29, 51, 0.8);
  --bottom-color: #1c1c1c;
  --my-gradient: linear-gradient(
    var(--top-color),
    var(--bottom-color)
  );
}

/*-----------------⬆⬆--VARIAVEIS CSS--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--CORPO & CONFIGUCOES--⬇⬇---------------*/
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body
{
    background-color: var(--color-black);
}
/*-----------------⬆⬆--CORPO & CONFIGUCOES--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--CONTEUDO DO CABECALHO--⬇⬇---------------*/
header img
{
  width: 130px;
  height: 130px;
  margin-top: -50px;
}

.nav-list.active
{
  transform: translateX(10px); 
}

.nav-list li{
  display: inline-block;
  margin-right: 45px;
  font-size: 1.5rem ;
  position: relative;
  
}
.nav-list li a{
  border-bottom: 1px solid var(--color-white);
}

ul li a{
  text-decoration: none;
  color: var(--color-white);
}
header{
  height: 15vh;
  display: flex;
  justify-content: space-between;
  margin-left: 15vw;
  margin-right: 15vw;
  padding-top: 5vh;
}

/*-----------------⬆⬆--CONTEUDO DO CABECALHO--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--ICONE DO MENU--⬇⬇---------------*/
/*⬇DESATIVADO⬇*/
.mobile-menu
{
  display: none;
  cursor: pointer;
   
}

.mobile-menu div
{
  width:50px;
  height: 4px;
  background: var(--color-white);
  margin: 10px;
  transition: 0.3s;
}

/*⬇ATIVADO⬇*/
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  background-color: var(--color-orange);
}

.mobile-menu.active .line2 {
  opacity: 0;  
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-11px, -11px);
  background-color: var(--color-orange);
}
/*--------------⬆⬆--ICONE DO MENU--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--RESPONSIVIDADE DO MENU--⬇⬇---------------*/

  @media (max-width: 999px)
  {
    header{
      margin-left: 0vw;
    margin-right: 0vw;
    position: relative;
    }
    header img{
      width: 120px;
      margin-left: 20px;
    }
    
    .nav-list {
      position: absolute;
      display: flex;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 90vh;
      background: var(--my-gradient);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      border-radius: 25px;
      z-index: 1;
      
    }
    
    .mobile-menu {
      display: block;
      width: 100px;
      float: right;
      margin-top: -25px;  
    }
  }
    

  @media (max-width: 480px)
  {
    header{
      height: 40vw;
    }
    header img{
      margin-top: -20px;
      width: 90px;
      height: 90px;
    }
    .mobile-menu{
      margin-top: -7px;
    }
    .nav-list {
      position: absolute;
      display: flex;
      top: 15vh;
      right: 0;
      width: 55vw;
      height: 85vh;
      background: var(--my-gradient);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      border-radius: 25px;
      
    }
   
    
  }

  @media screen and (max-width: 360px)
  {

    header{
      height: 60vw;
    }
    header img{
      margin-top: -10px;
      width: 70px;
      height: 70px;
    }

  }
/*-----------------⬆⬆--RESPONSIVIDADE DO MENU--⬆⬆---------------*/