body
{

}

/*CABECALHO*/
.elemento2
{
    border-bottom: none;
    color: #00fa9a;
    
}
/*------------------------------------------*/

/*CONTEUDO*/
.oq{
    text-align: center;
    margin-top: 5%;
    color: var(--color-white);
}
.descricao{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
    
}
.descricao h3{
    text-align: center;
}
.descricao div{
    background-color: var(--color-white);
    
    width: 600px;
    height: 200px;
    border-radius: 10px;
    
    
}
.descricao nav{
    height: 17vh;
    width: 600px;
    background-color: #00fa9a;
    overflow: hidden;
}
.descricao footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteinerCard
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    
    margin-top: 20px;
}
.conteinerCard .card
{
    background-image: var(--my-gradient);
    background-size: 100vw;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    position: relative;
    text-decoration: none;
    color: var(--color-white);
   
}

.card p{
    
    color: var(--color-white);
    font-size: 1rem;
    text-align: center;
    
    
}
.card i{
    font-size: 3rem;
    margin-bottom: 5px;
    text-align: center;
    
}
.card:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.conteinerCard .card1
{
    
}
.conteinerCard .card2
{
    
}
.conteinerCard .card3
{
    
}
.conteinerCard .card4
{
    
}
.conteinerCard .card5
{
    
}
.conteinerCard .card6
{
    
}
.conteinerCard .card7
{
    
}
.conteinerCard .card8
{
    
}
.conteinerCard .card9
{
    
}






/**/


/*-------------------------------------------*/

@media (max-width: 999px)
{
    .nav-list.active .elemento2
    { 
    border-bottom: none;
    color: #00fa9a;
    }

}

@media screen and (max-width: 736px)
{

    

}
@media screen and (max-width: 480px)
{

    
}

@media screen and (max-width: 360px)
{

   

}
