.cabecalho{
    border: 1px solid black;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(293deg, #133337 79%, #071a1c 88%);
    padding-top: 50px;
}
.boas_vindas{
    color: #ffffff;
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boas_vindas h3{
    text-align: left;
    
    font-weight: 100;
    font-size: 22px;
}
.boas_vindas h1{
    
    font-weight: 100;
    font-size: 42px;
    white-space: nowrap;
}
.boas_vindas h2{
    text-align: right;
    
    font-weight: 600;
}
.boas_vindas p{
    display: flex;
    justify-content: space-between;
}
.linkGithub{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 800;
    margin-right: 20px;
    white-space: nowrap;
}
.linkLinkedin{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 800;
    white-space: nowrap;
}
.imagem{
    padding-top: 100px;
    height: 100%;
    width: 600px;
}



@media (max-width: 1280px){}
@media (max-width: 900px){
    .boas_vindas{
        color: #ffffff;
        height: 100%;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagem{
        padding-top: 150px;
        height: 100%;
        width: 400px;
    }
    .boas_vindas h3{
        font-size: 15px;
    }
    .boas_vindas h1{
        font-size: 32px;
    }
    .boas_vindas h2{
        
    }
    .boas_vindas p{
       
    }
    .linkGithub{
        margin-right: 20px;
    }
    .linkLinkedin{
        
    }
}
@media (max-width: 700px){
    .cabecalho{
        border: 1px solid black;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0px;
        background: linear-gradient(293deg, #133337 79%, #071a1c 88%);
        
    }
    .imagem{
        padding-top: 10px;
        height: 100%;
        width: 80%;
    }
}
@media (max-width: 450px){
    
}
@media (max-width: 360px){}