.cabecalho{
    border: 1px solid black;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    background: linear-gradient(293deg, #133337 79%, #071a1c 88%);
    padding-top: 50px;
}
.boas_vindas{
    color: #ffffff;
    height: 100%;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boas_vindas h3{
    text-align: left;
    
    font-weight: 100;
    font-size: 22px;
}
.boas_vindas h1{
    
    font-weight: 100;
    font-size: 42px;
    white-space: nowrap;
}
.boas_vindas h2{
    text-align: right;
    
    font-weight: 600;
}
.boas_vindas p{
    display: flex;
    justify-content: space-between;
}
.linkGithub{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 800;
    margin-right: 20px;
    white-space: nowrap;
}
.linkLinkedin{
    text-decoration: none;
    color: #000000;
    padding: 10px 20px;
    background-color: #ffffff;
    border-radius: 10px;
    font-weight: 800;
    white-space: nowrap;
}
.imagem{
    height: 100%;
    width: 600px;
}

@media (max-width: 1280px){}

/**************************** V TABLETS V *************************************/

@media (max-width: 900px){
    .cabecalho{
        position: relative;
    }
    .boas_vindas {
        z-index: 1;
        
    }
    .boas_vindas h3, .boas_vindas h1,.boas_vindas h2{
        text-shadow: 1px 1px 1px #000;
    }
    .imagem{
        position: absolute;
        opacity: 0.2;
        z-index: 0;
    }   
}
/**************************** ^ TABLETS ^ *************************************/



/**************************** V CELULAR V *************************************/
@media (max-width: 450px){
    .boas_vindas{
        
    }
    .imagem{
        width: 90%;
    }
}
@media (max-width: 360px){}
/**************************** ^ CELULAR ^ *************************************/
