.Pre_contatos{
    height: 300px;
    padding-top: 50px;
}
.Pre_contatos h1{
    text-align: center;
    margin-top: 50px;
    font-size: 1.7rem;
}
.Pre_contatos h1 i{
    color: rgb(145, 118, 29);
    
}
.Pre_contatos div{
    height: 200px;
    background-color: burlywood;
}