.projetos{
    
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color:  #0D1117;
    
}

.Carrocel_projetos{
    position: relative;
    border: 1px solid white;
    width: 90%;
    height: 80%;
    
}

.teste_carrocel{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: chartreuse;
    top: 200px;
}

@media (max-width: 1280px){}
@media (max-width: 900px){}
@media (max-width: 70px){}
@media (max-width: 400px){}

