.sobre_mim{
    border: 1px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(11,9,2);
    background: linear-gradient(293deg, rgba(0, 0, 0, 0.719) 74%, rgb(55, 51, 48) 79%, rgba(0, 0, 0, 0.702) 88%);
    color: white;
    padding: 150px 0px;
    
}
.apresentacao{
    transition: 0.5s linear;
}
.apresentacao h1{
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
}
.apresentacao h1 i{
    color: rgb(145, 118, 29);
    
}
.conteiner_conteudo{
    display: flex;
    align-items: center;
}
.imagem_sobremim{
    width: 500px;
    transition: 0.5s linear;
    
}
.conteudo_lateral{
    width: 700px;
    transition: 0.5s linear;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texto_cl{
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: start;
    
}

.texto_cl h2{
    width: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    
    padding-right: 70px;
}
.texto_cl h2 i{
    color: #000;
    text-shadow: 0px 0px 5px  #115e68;;
}
.texto_cl span{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 5px;
}
.texto_cl span h3{
    color: #115e68;
    text-shadow: 0px 1px 2px #000;
}



@media (max-width: 1280px){
    .conteiner_conteudo{
        flex-direction:column-reverse;
    }
    .conteudo_lateral{
        width: 80%;
        transition: 0.5s linear;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 900px){}
@media (max-width: 450px){
    .imagem_sobremim{
        width: 350px;
    }
    .texto_cl{
        gap: 0px;
        padding-top: 20px;
    }
    .texto_cl span{
        
        gap: 15px;
    }
    
    .texto_cl span p{
        font-weight: 200;
    }
}
@media (max-width: 360px){}
