/*ANIMACOES*/
@keyframes animacao{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }

}


@keyframes bg{
    0%{
        opacity: 0.3;
    }
    
    50%{
        opacity: 1;
    }
    
    100%{
        opacity: 0.3;
    }

}
/**/



/*CABECALHO*/
.elemento1
{
    border-bottom: none;
    color: #00fa9a;
    
}

/**/

/*APRESENTACAO*/
section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20vw;
    margin-right: 20vw;
    
}

.aaa
{
    animation: animacao 1s linear infinite;
    color: #fffafa;
    font-size: 2rem;
}

.verMais
{
    text-decoration: none;
    color: #fffafa;
}

.port{
    text-decoration: none;
    color: #fffafa;
}
/**/

/*IMAGEM*/
.a2
{
    height: 90vh;
    background-image: url(../img/bg.png);
    background-size: 55vh;
    background-repeat: no-repeat;
    background-position-y: 100%;
    opacity: 0.2;
    animation: bg 5s linear infinite;
}
/**/



@media screen and (max-width: 1680px)
{


}

@media screen and (max-width: 736px)
{

    

}
@media screen and (max-width: 480px)
{

    
}

@media screen and (max-width: 360px)
{

   

}