/*-----------------⬇⬇--ANIMACOES--⬇⬇---------------*/
@keyframes animacao{
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }

}


@keyframes bg{
    0%{
        opacity: 0.1;
    }
    
    50%{
        opacity: 1;
    }
    
    100%{
        opacity: 0.1;
    }

}

@keyframes navLinkFade
{
  from
  {
    opacity: 0;
    transform: translateX(50px);
  }
  to
  {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes menu {
  0%{
    margin-left: 100%;
  }
  50%{
    margin-left: -150%;
  }
  100%{
    margin-left: 85%;
  }
}
/*-----------------⬆⬆--ANIMACOES--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--CONTEUDO DO CORPO--⬇⬇---------------*/
.bgimg{
  animation: bg linear 7s infinite;
}
.slider{
  background-color: var(--color-white);
  height: 10vh;
  width: 100%;
  overflow: hidden;
}

.slide i{
  font-size: 3rem;
  margin-left: 300px;
  margin-top: 25px;
  
}
.slide i:hover{
  transform: scale(1.5);
}

.slide{
  animation: menu 30s linear infinite;
  
}
body{
  overflow: hidden;
}
.cont h1
{
    font-size: 3rem;
    color: var(--color-white);
    float: right;
}
.cont h2
{
    font-size: 2rem;
    color: var(--color-orange);
    float: right;
    
}
.descricao
{
    color: var(--color-white);
    padding-top: 120px;
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 2rem;
    
}

.cont
{
    margin: 0 auto;
    width: 400px;
}
.a
{
    background-color: var(--color-orange);
    color: var(--color-white);
    text-shadow: 1px 1px 1px var(--color-black);
    padding: 0px 10px;
    border-radius: 5px;
    margin-top: 60%;
    font-size: 1.5rem;
}
.cont li
{
    display: inline-block;
}
.b li
{
    display: inline-block;
}
.b1
{
    background-color: var(--color-orange);
    color: var(--color-white);
    text-shadow: 1px 1px 1px var(--color-black);
    padding: 0px 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}
.bs{
  padding-top: 20px;
  padding-left: 20px;
}
.port{
  background-color: var(--color-orange);
  padding:5px 10px;
  border-radius: 8px;
}
.verMais{
  padding-left: 20px;
}
.b8
{
    color: var(--color-white);
    padding-left: 15px;
    font-size: 1.5rem;
}

.b2
{
    color: var(--color-white);
    padding-left: 20px;
}
section
{
  display: flex;
  flex-direction:space-between;
  flex-wrap:nowrap;
  margin-left: 15vw;
  margin-right: 15vw;
}
.esquerdo{
  padding: 70px;
}
.aaa
{
    animation: animacao 1s linear infinite;
    color: var(--color-white);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
.imagem{
  background-image: url(../img/bg.png); 
  height: 90vh;
  width: 50vw;
  background-repeat: no-repeat;
  background-size: 70vh;
  
  
}

/*⬇botoes⬇*/
.verMais
{
    text-decoration: none;
    color: var(--color-white);
}

.port{
    text-decoration: none;
    color: var(--color-white);
}

/*-----------------⬆⬆--CONTEUDO DO CORPO--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--ELEMENTO UNICO CABECALHO--⬇⬇---------------*/
.elemento1
{
    border-bottom: none;
    color: var(--color-grenn);
}
@media (max-width: 999px)
{
  .nav-list.active .elemento1
      { 
      border-bottom: none;
      color: var(--color-grenn);
      }
}
/*-----------------⬆⬆--ELEMENTO UNICO CABECALHO--⬆⬆---------------*/
/*
/*
/*
/*-----------------⬇⬇--RESPONSIVIDADE DO CORPO--⬇⬇---------------*/
@media (max-width: 999px)
{
    
    body
    {
      overflow: hidden;
      
    }
 
    
    .b{
      margin-left: -50px;
      margin-top: -800px;
    }
    .esquerdo{
      background-image: url(../img/bg1.png);
      background-repeat: no-repeat;
     
      margin-top: 100px;
      padding-right: 600px;
      margin-left: 150px;
    }
    .cont{
      width: 60vw;
      margin-left: -250px;
      margin-top: -400px;
      padding-bottom: 120vh;
      
      
    }
    .a{
      font-size: 3rem;
      text-shadow: 2px 2px 2px var(--color-black);
    }
    .b8{
      font-size: 2rem;
      text-shadow: 2px 2px 2px var(--color-black);
    }
   
    .cont h1{
      font-size: 3.5rem;
      text-shadow: 2px 2px 2px var(--color-black);
    }
    .cont p{
      font-size: 1.5rem;
      text-shadow: 2px 2px 2px var(--color-black);
      letter-spacing: 1.5px;
    }
    .imagem{
      display: none;
    }

}
@media (max-width: 770px)
{
    
    .cont{
      
    }
    .a{
      font-size: 2.5rem;
    }
    .b8{
      font-size: 2rem;
    }
    .aaa{
  
    }
    .cont h1{
      font-size: 2.5rem;
    }
    .cont h2{
      font-size: 2rem;
    }
    .cont p{
      font-size: 1.5rem;
      text-indent: 3rem;
    }
    .b{
      position: absolute;
      margin-left: 50px;

    }
    .b .b1{
  
    }
    .b .b2{
  
    }
}
@media (max-width: 505px)
{
    
    
    .cont
    {
    width: 80vw;
    }
    .a
    {
    font-size: 1.5rem;
    }
    .b8
    {
    font-size: 1.2rem;
    }
    .aaa
    {

    }
    .cont h1
    {
    font-size: 2.6rem;
    }
    .cont h2
    {
      padding-top: 15px;
      font-size: 1.5rem;
    }
    .cont .descricao
    {
      font-size: 1rem;
      padding-top: 0;
      padding-top: 110px;
    }
    .cont .verMais{
      font-size: 1rem;
    }
}
@media (max-width: 360px)
{
    
    .a{
      font-size: 1.3rem;
    }
    .b8{
      font-size: 1rem;
    }
    .aaa{
      font-size: 1.3rem;
    }
    .cont h1{
      font-size: 1.5rem;
    }
    .cont h2{

    }
    .cont .descricao{
      font-size: 0.7rem;
      
    }
    .port{
      font-size: 0.7rem;
      
    }
    .verMais{
      font-size: 0.8rem;
      
    }
    .esquerdo{
      background-image: url(../img/bg1.png);
      background-repeat: no-repeat;
      background-size: 40vh;
      background-position-x: -25vw;
      background-position-y: 10vh;
    }
}
/*-----------------⬆⬆--RESPONSIVIDADE DO CORPO--⬆⬆---------------*/
