*
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        body{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        .slider{
            margin: 0 auto;
            width: 90%;
            height: 100vh;
            overflow: hidden;
            border: 1px solid black;
            z-index: 1;
        }
        .slides /*tamanho do conteiner*/
        {
            width: 400%;
            height: 100%;
            display: flex;
        }
        .slides input{
            display: none;
        }
        .slide{
            width: 100%;
            position: relative;
            transition: 2s;
        }
        
        .manual-navigation/*conteiner nav*/
        {
            position: absolute;
            width: 100%;
            margin-top: 50px;
            
            display: flex;
            justify-content: center;
        }
        .navigation-auto /*conteiner*/
        { 
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        .manual-btn{
            
            border: 2px solid #000;
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            transition: 1s;
        }
        .manual-btn:not(:last-child){
            margin-right: 40px;
        }
        .manual-btn:hover{
            background-color: #000;
        }
        #radio1:checked ~ .first{
            margin-left: 0;
        }
        #radio2:checked ~ .first{
            margin-left: -25%;
        }
        #radio3:checked ~ .first{
            margin-left: -50%;
        }
        #radio4:checked ~ .first{
            margin-left: -75%;
        }
        .navigation-auto div{
            border: 2px solid blue;
            padding: 5px;
            border-radius: 10px ;
            cursor: pointer;
            transition: 1s;
        }
       
        .navigation-auto div:not(:last-child){
            margin-right: 40px;
        }
        #radio1:checked ~ .navigation-auto .auto-btn1{
            background-color: #dc0606;

        }
        #radio2:checked ~ .navigation-auto .auto-btn2{
            background-color: #dc0606;

        }
        #radio3:checked ~ .navigation-auto .auto-btn3{
            background-color: #dc0606;

        }
        #radio4:checked ~ .navigation-auto .auto-btn4{
            background-color: #dc0606;

        }
        #pag-1{
            background-color: blueviolet;
        }
        #pag-2{
            background-color: rgb(211, 226, 43);
        }
        #pag-3{
            background-color: rgb(43, 52, 226);
        }
        #pag-4{
            background-color: rgb(226, 43, 220);
        }