
.elemento3
{
    border-bottom: none;
    color: var(--color-grenn);
}
.carousel-cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}
body{
    background: var(--color-black);
}

/*-----------------------------------------------------------------------------------*/
/*--------------------------RESPONSIVIDADE DE PROJETOS-------------------------------*/
@media (max-width: 1728px)
{

}
@media (max-width: 1728px)
{

}
@media (max-width: 1280px)
{

}
@media (max-width: 900px)
{

}
@media (max-width: 428px)
{

}
@media (max-width: 320px)
{

}
/*-----------------------------------------------------------------------------------*/